<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title)%> | RoR Tutorial</title>
  </head>
<body>
  <h1>Sample App</h1>
  <p>This is our Help page for Ruby on Rails tutorial</p>
</body>
</html>
